@import url('./medical-icons/flaticon.css');


.page-view {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px - 65px);
    top: 80px;
    overflow: overlay;
}
.page-container {
    position: absolute;
    width: 80%;
    left: 10%;
    font-size: 20px;
}

.vertical-centered {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100% !important;
}
