<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-3 tab">
            <i class="fa fa-star fa-2x"></i> <br/>
            Dashboard
        </div>
        <div class="col-xs-3 tab">
            <i class="fa fa-calendar-o fa-2x"></i> <br/>
            Plan
        </div>
        <div class="col-xs-3 tab">
            <i class="fa fa-medkit fa-2x"></i> <br/>
            Medkit
        </div>
        <div class="col-xs-3 tab">
            <i class="fa fa-cogs fa-2x"></i> <br/>
            Setting
        </div>
    </div>
</div>
