.header-title {
    text-align: center;
    font-size: 25px;
}

.header-button {
    padding-top: 7px;
    display: flex;
    align-items: center;
}

.button-text {
    font-size: 16px;
}

.left-button {
    text-align: left;
    float: left;
}

.right-button {
    text-align: right;
    float: right;
}
