md-tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

md-tab-bar > .panel{
    margin:0px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.tab {
    text-align: center;
}
